# https://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository#_ignoring

# Ignore
__pycache__/
data/
imageq/
images/
log/
truck/
video/
videoq/
yolo8n_ncnn_model/
.lgd-nfy0
case_temp.q
speedcam-config.json
speedcam.code-workspace
*.zip
yolo*.pt

# Ignores all but the sample html in http/
http/*.m3u8
http/*.html
http/*.ts


